.issuance-form-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.issuance-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    background: #e1dcdc;
    margin: 20px;
    margin-top: 70px;
    border-radius: 25px;
}


/* ==============Issuehead==================== */

.issuehead{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.issuehead h3{
    font-size: 20px;
    margin-bottom: 30px;
}

.issuehead img{
    width: 20vw;
    border: 2px solid rgba(137, 137, 143, 0.794);
    margin: 30px 0;
    border-radius: 50%;
    transition: .3s ease;
}

.issuehead img:hover{
    background: rgba(137, 137, 143, 0.794);
}

@media(max-width:720px){
    .issuance-form{
        width: 80vw;
    }

    .issuehead img{
        width: 60vw;
    }
}

.form-contents{
    width: 30vw;
}

@media(max-width:720px){
    .form-contents{
        width: 70vw;
    }
}

.user-section{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    background: #a1a1a1;
    margin: 20px 0;
    border-radius: 15px;
}

.user-section label{
    color: rgb(26, 93, 95);
    font-weight: 700;
    font-size: 18px;
}

.user-section select{ 
    border: 2px solid rgb(26, 93, 95);
    background: #e1dcdc;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 17px;
}











.qty input{
    width: 30px;
}

.tools-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #a1a1a1;
    padding: 30px;
    margin: 20px 0;
    border-radius: 15px;
}

.tool-container label{
    color: rgb(26, 93, 95);
    font-weight: 700;
    font-size: 18px;
}

.tool-container select{ 
    border: 2px solid rgb(26, 93, 95);
    background: #e1dcdc;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 17px;
}

.tools-section button{
    margin: 10px 0;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid rgb(26, 93, 95);
    background: rgb(26, 93, 95);
    color: #e1dcdc;
    padding: 5px 15px;
    transition: .4s ease;
}

.tools-section button:hover{
    background: none;
    color: rgb(26, 93, 95);
}


/* ==================Selected Tools CSS==================== */
.selected-tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background:#a1a1a1;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.st1{
    display: none;
}

.selected-tools h4{
    color: rgb(26, 93, 95);
}

.selected-tools .selected-tools-inner{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 5px 0;
}

.selected-tools .selected-tools-inner #selected-qty{
    width: 30px;
    text-align: center;
}

.selected-tools input{
    border: none;
    background: #e2d8d89a;
    border-radius: 10px;
}

.selected-tools input::-webkit-inner-spin-button, .selected-tools input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}



.footer{
    display: flex;
    justify-content: center;  
    text-align: center;
    margin-top: 2em;
    padding-top: 1em;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.301);
    font-size: calc(10px + .5vw);
    color: gold;
    background-color: rgba(0, 0, 0, 0.486);

}